.container {
  margin-top: 60px;
  margin-bottom: 100px;
}

button {
  margin-top: 25px;
}

.form-control {
  color: white;
}
.form-control:focus {
  color: white;
}

h6 {
  margin-top: 20px;
}
.input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  margin-top: 25px;
}
.text-muted {
  margin-bottom: 0;
}
